/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  font-size: 10px;
  box-sizing: border-box;
}

#dim.active {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: black;
  opacity: 0.5;
  z-index: 50;
  transition: all 0.3s ease-in-out;
}

body {
  font-family: 'roboto', sans-serif;
}

body .pageHeading {
  font-size: 10vh;
  font-weight: 700;
  color: #875e73;
  font-family: "MonteCarlo", cursive;
}

body .content .bigHeading h1,
body .content .bigHeading h1 span {
  font-size: 15vw;
  font-weight: 700;
  color: #a1788e;
  font-family: "MonteCarlo", cursive;
  text-align: center;
}

@media (min-width: 768px) {
  body .content .bigHeading h1,
  body .content .bigHeading h1 span {
    font-size: 10vw;
  }
}

body .content .bigHeading h1 span,
body .content .bigHeading h1 span span {
  font-weight: 500;
  color: #f5b58a;
}

body .content .bigHeading h3 {
  margin-top: -1rem;
  font-size: 4vw;
  font-weight: 300;
  color: #f5b58a;
  text-align: right;
}

@media (min-width: 768px) {
  body .content .bigHeading h3 {
    font-size: 2.6vw;
  }
}

@media (min-width: 1325px) {
  body .content .bigHeading h1 {
    font-size: 12rem;
  }
  body .content .bigHeading h1 span {
    font-size: 10rem;
  }
  body .content .bigHeading h3 {
    font-size: 3rem;
  }
}

body .content .navigationBar .navHeader .heading h1,
body .content .navigationBar .navHeader .heading h1 span {
  font-size: 15vw;
  font-weight: 700;
  color: #a1788e;
  font-family: "MonteCarlo", cursive;
  text-align: center;
}

body .content .navigationBar .navHeader .heading h1 span,
body .content .navigationBar .navHeader .heading h1 span span {
  font-weight: 500;
  color: #f5b58a;
}

@media (min-width: 768px) {
  body .content .navigationBar .navHeader .heading h1,
  body .content .navigationBar .navHeader .heading h1 span {
    font-size: 5rem;
  }
}

body .content .navigationBar .navHeader .heading h3 {
  margin-top: -1rem;
  font-size: 4.5vw;
  font-weight: 300;
  color: #f5b58a;
  text-align: right;
}

@media (min-width: 768px) {
  body .content .navigationBar .navHeader .heading h3 {
    font-size: 1.6rem;
  }
}

body .content .navigationBar ul .homelinks li {
  font-size: 2rem;
  font-weight: 500;
  color: #f9d2b9;
}

body .content .navigationBar ul .homelinks li.active, body .content .navigationBar ul .homelinks li:hover {
  color: #f5b58a;
}

.announce {
  font-size: 1.6rem;
  font-weight: 300;
  color: #a1788e;
  font-style: italic;
  text-align: center;
}

.btnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  padding: 0;
  top: 0;
  right: 0;
  width: 6rem;
  height: 6rem;
  z-index: 999;
  background-color: #a1788e;
  border-radius: 0 0 0 50%;
  cursor: pointer;
}

.toggleBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 2.5rem;
  height: 2.2rem;
  margin: -0.5rem -0.5rem 0 0;
  position: absolute;
}

.toggleBtn .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
}

.toggleBtn .bar.barOneClose, .toggleBtn .bar.barThreeClose {
  transition: ease-in transform 0.1s;
  position: absolute;
  top: 1rem;
}

.toggleBtn .bar.barOneClose {
  transform: rotate(45deg);
}

.toggleBtn .bar.barTwoClose {
  opacity: 0;
}

.toggleBtn .bar.barThreeClose {
  transform: rotate(-45deg);
}

.navigationBar {
  display: flex;
  justify-content: center;
  align-items: space-evenly;
  flex-direction: column;
  box-sizing: content-box;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100rem);
  height: 100vh;
  background-color: #a1788e;
  z-index: 998;
}

@media (min-width: 768px) {
  .navigationBar {
    height: 60rem;
    width: 30rem;
    box-shadow: -2px 2px 14px 0px rgba(0, 0, 0, 0.75);
    transition: transform 0.25s ease-in-out;
  }
}

.navigationBar.navToggle {
  display: flex;
  transform: translateX(0);
  transition: transform 0.25s ease-in-out;
}

.navigationBar .navHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 0 0 100% 100%;
  background: #fff;
  width: 100%;
  padding-bottom: 5rem;
  border-bottom: 1.5rem solid #b696a7;
}

.navigationBar .navHeader img {
  margin-top: 3.6rem;
  width: 25rem;
}

.navigationBar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.navigationBar ul .homelinks {
  text-decoration: none;
  text-align: center;
  width: 60%;
}

.navigationBar ul .homelinks li {
  list-style: none;
  text-align: center;
  height: 3rem;
}

.navigationBar ul .homelinks li:hover, .navigationBar ul .homelinks li.active {
  border-left: 0.5rem solid #f9d2b9;
  border-right: 0.5rem solid #f9d2b9;
}

.navigationBar ul .homelinks li.active {
  background-color: #875e73;
}

.rsvp {
  font-style: italic;
  margin-top: 1.6rem;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: #a1788e;
  text-align: center;
  width: 16rem;
  border: 0.2rem solid #a1788e;
}

.rsvp:hover {
  color: #fff;
  background: #a1788e;
  transition: all 0.25s ease-in-out;
}

.announce {
  background-color: #f9d2b9;
  width: 100%;
  padding: 0.5rem;
  z-index: 2;
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

body .pageHeadingsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 5rem;
  width: 100vw;
}

body .pageHeadingsWrapper .pageHeading {
  margin: 0 5rem;
  z-index: -1;
}

body .pageHeadingsWrapper .flower2 {
  z-index: -2;
  display: none;
  height: 7vw;
}

@media (min-width: 768px) {
  body .pageHeadingsWrapper .flower2 {
    display: flex;
  }
}

body .flowerCorner {
  height: 20vh;
  transform: rotate(-180deg);
  position: absolute;
  left: 0;
  top: 4rem;
  z-index: -1;
}

@media (min-width: 768px) {
  body .flowerCorner {
    display: none;
  }
}

body {
  position: relative;
  background: #fff;
}

body .content {
  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body .content .flowerTopLeft,
body .content .flowerBottomRight {
  display: none;
}

@media (min-width: 768px) {
  body .content .flowerTopLeft,
  body .content .flowerBottomRight {
    display: flex;
    width: 30rem;
    position: absolute;
    z-index: -1;
  }
}

@media (min-width: 1325px) {
  body .content .flowerTopLeft,
  body .content .flowerBottomRight {
    width: 40rem;
  }
}

body .content .flowerTopLeft {
  transform: rotate(180deg);
  top: 4rem;
  left: 0;
}

body .content .flowerBottomRight {
  bottom: 0;
  right: 0;
}

.galleryWrapper {
  width: 90%;
  margin-top: 3rem;
}

.mediaHeader {
  color: #f3a672;
  font-style: italic;
  font-weight: 300;
}
