@mixin flexbox($justify, $align, $direction)  {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin font($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin fontHeading($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: "MonteCarlo", cursive;
}

//for media queries

@mixin lg-Phone {
    @media (min-width: 576px) {
      @content;
  }
}

@mixin phone {
    @media (min-width: 350px) {
        @content;
  }
}

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1200px) {
        @content;
    }
}
