$alert : hsl(0, 100%, 92%);


$orange-300 : hsl(25, 78%, 78%);
$orange-400 : hsl(24, 76%, 69%);
$orange-500 : hsl(24, 84%, 55%);

$error : hsl(0, 78%, 33%);
=======
$purple-200 : hsl(328, 18%, 85%);
$purple-300 : hsl(328, 18%, 75%);
$purple-400 : hsl(328, 18%, 65%);
$purple-500 : hsl(328, 18%, 55%);
$purple-600 : hsl(330, 18%, 45%);
$purple-700 : hsl(330, 18%, 35%);
$purple-800 : hsl(330, 18%, 25%);

$orange-200 : hsl(24, 84%, 85%);
$orange-300 : hsl(24, 84%, 80%);
$orange-400 : hsl(24, 84%, 75%);
$orange-500 : hsl(24, 84%, 70%);
