$alert : hsl(0, 100%, 92%);

$purple-400 : hsl(328, 17%, 81%);
$purple-500 : hsl(328, 17%, 51%);
$purple-600 : hsl(330, 20%, 40%);

$orange-300 : hsl(25, 78%, 78%);
$orange-400 : hsl(24, 76%, 69%);
$orange-500 : hsl(24, 84%, 55%);