#toldby {
  color: $purple-500;
  width: 90%;
  margin-top: 3rem;
  @include desktop {
    width: 70%;
  }
}

#topline,
#bottomline {
  background-color: $purple-500;
  height: 0.1rem;
  width: 90%;
  z-index: -1;
}

.nav-pills {
  @include flexbox(flex-start, center, row);
  margin-top: 0.3rem;
  width: 90%;

  @include desktop {
    width: 70%;
  }

  p {
    margin-left: 0.5rem;
  }

  .nav-item {
    .nav-link {
      @include font(2rem, 500, $purple-500);
      &.active {
        background-color: $purple-500;
        color: #fff;
      }
    }
  }
}

.tab-content {
  width: 90%;
  overflow-y: scroll;
  padding: 0 2rem;
  height: 65vh;

  @include desktop {
    width: 70%;
  }

  
  .tab-pane {
    text-align: justify;
    height: 20rem;
    p {
      margin-bottom: 4rem;
      font-size: 1.4rem;
      color:$purple-700;
      @include tablet {
        font-size: 1.8rem;
      }
    }
  }
}
