//for base Scss
* {
    font-size: 10px;
    box-sizing: border-box;
}

#dim {
    &.active {
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color: black;
        opacity: 0.5;
        z-index: 50;

        transition: all 0.3s ease-in-out;
    }
}