body {
    font-family: 'roboto', sans-serif;
    
    .pageHeading { //for use on multi page
        @include fontHeading(10vh, 700, $purple-600);
        
    }
    
    .content {
        .bigHeading {
            h1,
            h1 span {
                @include font (15vw, 700, $purple-500);
                font-family: "MonteCarlo", cursive;
                text-align: center;

                @include tablet {
                    font-size: 10vw;
                }
                span {
                    font-weight: 500;
                    color: $orange-400;
                }
            }
            
            h3 {
                margin-top: -1rem;
                @include font (4vw, 300, $orange-400);
                text-align: right;
                @include tablet {
                    font-size: 2.6vw;
                }
            }
            
            @include desktop {
                h1 {
                    font-size: 12rem;
                    
                    span {
                        font-size: 10rem;
                    }
                }
                
                h3 {
                    font-size: 3rem;
                }
            }
            
        }
        
        .navigationBar {
            
            .navHeader {
                .heading {
                    h1,
                    h1 span {
                        @include font (15vw, 700, $purple-500);
                        font-family: "MonteCarlo", cursive;
                        text-align: center;
                        span {
                            font-weight: 500;
                            color: $orange-400;
                        }
                        @include tablet {
                            font-size: 5rem;
                        }
                    }
                    
                    h3 {
                        margin-top: -1rem;
                        @include font (4.5vw, 300, $orange-400);
                        text-align: right;
                        @include tablet{
                            font-size: 1.6rem;
                        }
                    }
                }
                
            }

            ul {
                .homelinks{
                    li {
                        @include font(2rem, 500, $orange-200);

                        &.active,
                        &:hover {
                            color: $orange-400;
                        }
                    }
                }
            }
        }
    }
}



.announce {
    @include font(1.6rem, 300, $purple-500);
    font-style: italic;
    text-align: center;
}
