.announce {
    background-color: $orange-200;
    width: 100%;
    padding: 0.5rem;
    z-index: 2;
}

body {
    .pageHeadingsWrapper {
        @include flexbox(center, center, row);
        margin-top: 7rem;
        width: 100vw;
        .pageHeading {
            margin: 0 5rem;
            z-index: -1;
        }
        .flower2 {
            z-index: -2;
            display:none;
            height: 10vw;
            
            @include tablet {
                display: flex;
            }
            
        }
        
    }
    
    .flowerCorner {
        height: 15rem;
        transform: rotate(-180deg);
        position: absolute;
        left: 0;
        top: 4rem;
        z-index: -1;
        
        @include tablet {
            display: none;
        }
    }
    
    //flowers for the tablet+ version
    
}

