.announce {
    background-color: $alert;
    width: 100%;
    padding: 0.5rem;
}

.circle { 
    border-radius: 0 0 100% 100%;
    position: absolute;
    top: 0;
    background: #fff;
    height: 40rem;
    width: 100vw;
    z-index: -1;
}
