.btnWrapper {
    @include flexbox(center, center, column);
    position: fixed;
    padding: 0;
    top: 0;
    right: 0;
    width: 6rem;
    height: 6rem;
    z-index: 999;
    background-color: $purple-500;
    border-radius: 0 0 0 50%;
    cursor: pointer;
}
.toggleBtn {
    @include flexbox(space-between, center, column);
    width: 2.5rem;
    height: 2.2rem;
    margin: -0.5rem -0.5rem 0 0;
    position: absolute;
    .bar {
        height: 3px;
        width: 100%;
        background-color: #fff;
        
        &.barOneClose,
        &.barThreeClose {
            transition: ease-in transform 0.1s;
            position: absolute;
            top: 1rem;
        }
        &.barOneClose {
            transform: rotate(45deg);
        }
        
        &.barTwoClose {
            opacity: 0;
        }
        
        &.barThreeClose {
            transform: rotate(-45deg);
            
        }
    }
}

.navigationBar {
    @include flexbox (center, space-evenly, column);
    box-sizing: content-box;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100rem);
    height: 100vh;

    background-color: $purple-500;
    
    z-index: 998;
    
    
    @include tablet {
        height: 60rem;
        width: 30rem;
        box-shadow: -2px 2px 14px 0px rgba(0,0,0,0.75);
        transition: transform 0.25s ease-in-out;
    }

    
    &.navToggle {
        display: flex;
        transform: translateX(0);
        transition: transform 0.25s ease-in-out;
    }
    
    .navHeader { 
        @include flexbox (flex-start, center, column);
        border-radius: 0 0 100% 100%;
        background: #fff;
        width: 100%;
        padding-bottom: 5rem;
        border-bottom: 1.5rem solid $purple-400;
        img {
            margin-top: 3.6rem;
            width: 25rem;
        }
    }
    
    ul {
        
        @include flexbox(space-evenly, center, column);
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        z-index: 1;
        
        .homelinks {
            text-decoration: none;
            text-align: center;
            width: 60%;
            li {
                list-style: none;
                text-align: center;
                height: 3rem;

                &:hover,
                &.active {
                    border-left: 0.5rem solid $orange-200;
                    border-right: 0.5rem solid $orange-200;
                }
                &.active {
                    background-color: $purple-600;
                }
                
            }
        }

    }

    
}

.rsvp {
    font-style: italic;
    margin-top: 1.6rem;
    text-decoration: none;
    @include font (2rem, 500, $purple-500);
    text-align: center;
    width: 16rem;
    border: 0.2rem solid $purple-500;
    
    &:hover {
        color: #fff;
        background: $purple-500;
        transition: all 0.25s ease-in-out;
    }
}